/* ==========================================================================
   List
   ========================================================================== */

.c-list {
    margin-bottom: 5rem;
    list-style: none;
}

.c-list__item {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    border-top: 1px solid #EFF1F3;
}
